<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Student List</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

  <h1>Student List</h1>

  <a href="/add" class="add-btn">+ Add Student</a>

  <ul>
    <% studentList.forEach((s) => { %>
      <li>
        <span><%= s.name %></span>
        <div>
          <a href="/edit/<%= s.id %>" class="edit">Edit</a>
          <a href="/delete/<%= s.id %>" class="delete">Delete</a>
        </div>
      </li>
    <% }) %>
  </ul>

</body>
</html>